@model MyTasks.Models.Task 
@{
    ViewBag.Title = "Editar Tarefa";
}

<h2 class="text-primary">Editar Tarefa</h2>
<hr />
@using (Html.BeginForm()) 
{
    <div class="form-horizontal">
        @Html.HiddenFor( model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { required = "required", size="30" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("DueDate", Model.DueDateString , new { size = "10" } )
                @Html.ValidationMessageFor(model => model.DueDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Importance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButton("Importance","b") Baixa
                @Html.RadioButton("Importance", "n") Normal
                @Html.RadioButton("Importance", "u") Urgente
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButton("Status", "i") A iniciar
                @Html.RadioButton("Status", "a") Em andamento
                @Html.RadioButton("Status", "c") Concluída
            </div>
        </div>
    

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submeter" class="btn btn-primary" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10  text-danger">
                  @TempData["message"]
            </div>
        </div>
    </div>
}


@section Scripts {
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script>
        $(function () {
            $("#DueDate").datepicker({ dateFormat: "dd/mm/yy" });
        }
     );
    </script>
}
